.container {
  min-width: 320px;
  padding: 0px 20px;
  @media screen and (min-width: $mobile) {
    max-width: $mobile;
    margin: 0 auto;
  }
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 0px 40px;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding: 0px;
  }
}
